/* body {
  background: linear-gradient(#FF7518, #280137);
} */

body {
  position: relative;
}

.background {
  width: 1294px;
  height: 875px;
  background: linear-gradient(0deg, #0F131E 0%, #3A435B 100%);
  margin: auto;
  border-radius: 25px;
  box-shadow: 1px 1px 33px 6px;
  position: absolute;
  top: 50%;
  margin-top: 50px;
  margin-left: 300px;
}

.main {
  display: flex;
  flex-direction: column;
}

.content {
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 56.25px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.left {
  width: 350px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 9px 25px;
  border-radius: 9px;
  margin-top: 37.5px;
}

.center {
  width: 350px;
  height: 525px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 9px 25px;
  border-radius: 9px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.right {
  width: 350px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 9px 25px;
  border-radius: 9px;
  margin-top: 37.5px;
}

.popular {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 44px;
  background-color: #FF9E2D;
  border-radius: 9px 9px 0px 0px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.09px;
  color: #FFFFFF;
  position: absolute;
  top: 0;
}

.pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "roboto", sans-serif;
  color: #30343E;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
}

.price-monthly {
  display: block;
  font-size: 64px;
  line-height: 75px;
  font-weight: 700;
}

.price-monthly p {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 300;
}

.price-yearly {
  display: none;
  font-size: 64px;
  line-height: 75px;
  font-weight: 700;
}

.price-yearly p {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 300;
}

.list {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
}

.btn {
  width: 218px;
  height: 51px;
  border-radius: 6px;
  color: #30343E;
  border: 2px solid #30343E;
  background-color: #FFFFFF;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.085em;
}

.btn:hover {
  background-color: #0F131E;
  color: #FFFFFF;
}

.btn-center {
  width: 248px;
  height: 68px;
  border-radius: 6px;
  color: #FFFFFF;
  border-color: #30343E;
  background-color: #FF9E2D;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.085em;
}

.btn-center:hover {
  background-color: #FFFFFF;
  color: #FF9E2D;
  border: 2px solid #FF9E2D;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 49px;
}

.monthly {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.44px;
  color: #FF9E2D;
  margin-right: 28px;
}

.monthly.color {
  color: #FFFFFF;
}

.annually {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.44px;
  color: #FFFFFF;
  margin-left: 28px;
}

.annually.color {
  color: #FF9E2D;
}

.switch {
  position: relative;
  display: inline-block;
  width: 73px;
  height: 32px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.27);
  transition: .4s;
  -webkit-transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 6px;
  bottom: 3px;
  background-color: #FF9E2D;
  border-radius: 50%;
  box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.27);
  transition: .4s;
  -webkit-transition: .4s;
}

input:checked + .slider {
  background-color: #FFFFFF;
  box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.27);
}

input:focus + .slider {
  box-shadow: 0 0 1px #FFFFFF;
  box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.27);
}

input:checked + .slider:before {
  transform: translateX(34px);
  -ms-transform: translateX(34px);
  -webkit-transform: translateX(34px);
  box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.27);
}

@media (max-width: 744) {
  
}

